@model SportsClub.Models.ViewModels.SportClubViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Fans Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Last Name
            </th>
            <th>
                First Name
            </th>
            <th>
                Birth Date
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model.Fans) {
            string selectedRow = "";
            if (item.ID.Equals(ViewData["FanID"]?.ToString()))
            {
                selectedRow = "success";
            }
            <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                <a asp-action="Index" asp-route-id="@item.ID">Select</a> |
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="EditSubscriptions" asp-route-id="@item.ID">Edit Subscriptions</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

@if (Model.SportClubs != null)
{
    <h3>
        Member of the following SportClubs:
    </h3>
    <table class="table">
        <tr>
            @if (Model.SportClubs.Count() > 0)
            {
                <th> Name </th>
            }
            else
            {
                <th> No subscription record exists. </th>
            }
        </tr>
        @foreach (var item in Model.SportClubs)
        {
            <tr>
                <td>
                    @item.Title
                </td>
            </tr>
        }
    </table>
}
